<form action="/teacher/create" method="post">
		<div>
			<!-- <label for="name">Teacher Name:</label> -->
			<input type="text" name='joke]' placeholder='Enter Joke' autofocus />
		</div>

		<div>
			<!-- <label for="subject">Subject:</label> -->
			<input type="text" name='teacher[subject]' placeholder='Subject' />
		</div>
		<div class='three columns offset-by-one'>
		<input type="submit" value="Add teacher" />
		</div>
	</form>